.dashboard{
   padding:50px;
   min-height: 100%;
}
.title-container{
    color:white;
}
.workable-area{
    margin-top:30px;
    flex-direction: row;
    
    justify-content: space-evenly;
    display: flex;
    align-items: center;

}
a{
    text-decoration: none !important;

}

.card-button-icon{
    color:white;
    font-size:40px;
}
.dashboard .MuiPaper-root{
    max-width:200px;
    min-width:50px;
    display: flex;
    align-items: center;
    padding:50px;
    color:#fff !important;
    flex-direction: column;
    justify-content: center;
    background-color: #1c1c1c !important;
}
