*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
}
html,body {
  margin: 0;
  padding: 0;
  height: auto;
  min-height: 100%; /* necessary */
  background-color: #0c0c0c;
  font-family: Roboto;
}
::-webkit-scrollbar {
  display: none;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
input, button, textarea, :focus {
    outline: none;
}